body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;

}

.col-md-4  {
    background-color: rgb(220,231,24);
    padding: 20px 10px;

}

.col-md-8 {
    background-color: rgb(220,231,24);
    text-decoration: none;
    display: block;
    color: black;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;

}

.col {
    position: absolute;
    transform: translate(450px, 30px);
    justify-content: center;
}
.d-flex table {
    margin: 1em 10em;
}

#nadpis {
    padding-left: 10%;
    padding-top: 4%;
    font-family: Leelawadee;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 3px 2px white;
    margin-left: -60px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.footer {
    background-color: dimgray;
}

#logo {
    width: 135px;
    height: auto;
    position: relative;
    margin-left: 60px;

}

#logo_malicke {
    width: 135px;
    height: auto;
    position: relative;
    margin-left: 60px;
}

#banner {

    width: 200px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: translate(-20px, 0px);
    opacity: 0.5;
}



.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#logo_prihlasenie {
    width: 180px;
    height: 140px;
    padding-bottom: 20px;
}

#zarovnat {
    text-align: center;
}

.submit {
    margin-left: 50px;
    margin-top: 20px;
}

#wp-submit2 {
    transform: translate(-10px, -10px);
}

#wp-submit3 {
    transform: translate(-30px, 0px);
}

#uprava {
    transform: translate(-7px, -20px);
}

#mazat {
    transform: translate(-11px, -30px);
}

.header {
    padding: 0px;

}

.nav-item {
    margin: auto;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.nav-link {
    margin: auto;
}



.sponzor {
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
}

#textKontakt {
    color:  gainsboro;
}

#prihlasenie {
    color:  white;
    text-decoration: none;
    border-radius: 12px;
    position: relative;
    right: 0;
}

#pridaj, #zobraz {
    border-radius: 12px;
    position: relative;
    right: 0px;
}

.fa fa-user {
    color: #dddddd;
}

.navrat {
    transform: translate(5px, -18px);
}

#edit {
    cursor: pointer;
}

#prihl_formular {
    margin-top: 30px;
}

#farbaHlavickyTabulky {
    background-color: #6cd8dc;
}

#profile {
    background-color: white;
}

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: 0.8;
}

